{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Select Tents</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2"><b>Check-In:</b></div>
	<div class="col-sm-2">{{start_formatted}}</div>
	<div class="col-sm-2"><b>Check-Out:</b></div>
	<div class="col-sm-2">{{end_formatted}}</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-2"><b>Nights:</b></div>
	<div class="col-sm-2">{{nights}}</div>
	<div class="col-sm-2"><b>Guests:</b></div>
	<div class="col-sm-2">Adults : {{pax}} Children: {{children}}</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<div class="alert alert-info">Please select {{grand_pax}} beds. Select one bed for each guest. If you are adding children please select the tents that support children.</div>
	</div>
</div>

<div id="toomuch" style="display:none">
	<div class="row top-buffer">
		<div class="col-sm-8">
			<div class="alert alert-danger">
				You have selected more then the number of guests requested.
			</div>
		</div>
	</div>
</div>

<form action="{{path('createreservation')}}" method="post">
<input type="hidden" name="lodge" value="{{lodge}}">
<input type="hidden" name="pax" value="{{pax}}">
<input type="hidden" name="children" value="{{children}}">
<input type="hidden" name="childage1" value="{{childage1}}">
<input type="hidden" name="childage2" value="{{childage2}}">
<input type="hidden" name="nights" value="{{nights}}">
<input type="hidden" name="type" value="{{type}}">
<input type="hidden" name="start_date" value="{{start_date}}">

<div class="row top-buffer">
	<div class="col-sm-8">
		<table class="table table-row table-striped table-hover">
			<thead>
				<tr>
					<th><b>Select</b></th>
					<th><b>Bed</b></th>
					<th><b>Description</b></th>
					<th><b>Type</b></th>
					<th><b>Price per/night</b></th>
				</tr>
			</thead>
			<tbody>
			{% for i in inventory %}
			<tr>
				<td>
					<!-- data-toggle="toggle" -->
					<input type="checkbox" data-toggle="toggle" name="room{{i.roomID}}_{{i.bed}}" value="checked"
					onchange="checkboxes()">
				</td>
				<td>{{i.description}}-{{i.bed}}</td>
				<td>{{i.writeup}}</td>
				<td>{{i.type}}</td>
				<td>$ {{i.nightly_rate}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div id="goodtogo" style="display:none">
	<div class="row top-buffer">
		<div class="col-sm-8">
			<div class="alert alert-success">
				You have selected the proper number of beds. Click <b>Book Reservation</b> to continue.
			</div>
		</div>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<div id="booknow" style="display:none">
			<input type="submit" value="Book Reservation" class="btn btn-success">&nbsp;
		</div>
		<input type="button" value="Cancel" class="btn btn-warning" 
		onclick="document.location.href='{{path('newreservation')}}'">
	</div>
</div>

</form>

<script>
function checkboxes(){
    var max = {{grand_pax}};
    var inputElems = document.getElementsByTagName("input"),
    count = 0;
    for (var i=0; i<inputElems.length; i++) {
    if (inputElems[i].type === "checkbox" && inputElems[i].checked === true){
        count++;
        //alert(document.querySelectorAll('input[type="checkbox"]:checked').length);
    }
    if (count == "{{grand_pax}}") {
    	document.getElementById('booknow').style.display='inline';
    	document.getElementById('goodtogo').style.display='inline';
    	window.scrollBy(0,500);
    } else {
    	document.getElementById('booknow').style.display='none';
    	document.getElementById('goodtogo').style.display='none';
        if (count > max) {
            document.getElementById('toomuch').style.display='inline';
        } else {
            document.getElementById('toomuch').style.display='none';
        }
    }
}}
</script>



{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}