{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Select Tents</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2"><b>Check-In:</b></div>
	<div class="col-sm-2">{{start_formatted}}</div>
	<div class="col-sm-2"><b>Check-Out:</b></div>
	<div class="col-sm-2">{{end_formatted}}</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-2"><b>Nights:</b></div>
	<div class="col-sm-2">{{nights}}</div>
	<div class="col-sm-2"><b>Guests:</b></div>
	<div class="col-sm-2">Adults : {{pax}} Children: {{children}}</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<div class="alert alert-info">Select one bed for each guest. If you are adding children please select the tents that support children.</div>
	</div>
</div>

<form action="{{path('createreservation')}}" method="post">
<input type="hidden" name="lodge" value="{{lodge}}">
<input type="hidden" name="pax" value="{{pax}}">
<input type="hidden" name="children" value="{{children}}">
<input type="hidden" name="childage1" value="{{childage1}}">
<input type="hidden" name="childage2" value="{{childage2}}">
<input type="hidden" name="nights" value="{{nights}}">
<input type="hidden" name="type" value="{{type}}">
<input type="hidden" name="start_date" value="{{start_date}}">

<div class="row top-buffer">
	<div class="col-sm-8">
		<table class="table table-row table-striped table-hover">
			<thead>
				<tr>
					<th><b>Select</b></th>
					<th><b>Bed</b></th>
					<th><b>Description</b></th>
					<th><b>Type</b></th>
					<th><b>Price per/night</b></th>
				</tr>
			</thead>
			<tbody>
		{% for i in inventory %}
			<tr>
				<td><input type="checkbox" name="room{{i.roomID}}_{{i.bed}}" value="checked"></td>
				<td>{{i.description}}-{{i.bed}}</td>
				<td>{{i.writeup}}</td>
				<td>{{i.type}}</td>
				<td>$ {{i.nightly_rate}}</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<input type="submit" value="Book Reservation" class="btn btn-success">&nbsp;
		<input type="button" value="Cancel" class="btn btn-warning" 
		onclick="document.location.href='{{path('newreservation')}}'">
	</div>
</div>

</form>





{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}