{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		{% include('reservation_tabs.html.twig') %}
	</div>
</div>

{% if details.status == "Cancelled" %}
{% include('templates/cancel.html.twig') %}
{% endif %}

<div class="row top-buffer">
	<div class="col-sm-8"><h3>Details</h3></div>
</div>

<div id="ajax_results"></div>

<div class="row top-buffer">
	<div class="col-sm-3"><b>Invoice</b></div>
	<div class="col-sm-3"><b>Booker</b></div>
	<div class="col-sm-3"><b>Date Booked</b></div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">
		<a href="{{path('invoice')}}?reservationID={{reservationID}}&mode=print" target="_blank"><i class="fa fa-print"></i></a>&nbsp;
		<a href="{{path('invoice')}}?reservationID={{reservationID}}&mode=email"><i class="fa fa-envelope-o"></i></a>&nbsp;
		<a href="{{path('invoice')}}?reservationID={{reservationID}}&mode=view" target="_blank"><i class="fa fa-eye"></i></a>
	</div>
	<div class="col-sm-3"><a href="mailto:{{email}}">{{first_name}} {{last_name}}</a></div>
	<div class="col-sm-3">{{date_booked}}</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3"><b>Check-In</b></div>
	<div class="col-sm-3"><b>Check-Out</b></div>
	<div class="col-sm-3"><b>Nights</b></div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">{{checkin_date}}</div>
	<div class="col-sm-3">{{checkout_date}}</div>
	<div class="col-sm-3">{{nights}}</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3"><b>Guests:</b></div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">
		Adults: {{pax}} Children: {{children}}
	</div>
	<div class="col-sm-3">
		{% if child1_age != "" %}Child 1 Age: {{child1_age}}{% endif %}
	</div>
	<div class="col-sm-3">
		{% if child2_age != "" %}Child 2 Age: {{child2_age}}{% endif %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3"><b>Primary Contact</b></div>
	<div class="col-sm-3"><b>Email:</b></div>
</div>

<div class="row top-buffer">
	{% if contact_data == "" %}
	<div class="col-sm-3">

		<form action="{{path('assignreservationcontact')}}" method="get" style="display:inline">
		<input type="hidden" name="reservationID" value="{{reservationID}}">
		<input type="submit" value="Assign Primary Contact" class="btn btn-primary">
		</form>

	</div>
	{% else %}
		{% for c in contact_data%}

		<div class="col-sm-3">
			<form action="{{path('assignreservationcontact')}}" method="get" style="display:inline">
			<input type="hidden" name="reservationID" value="{{reservationID}}">
			<input type="submit" value="Change" class="btn btn-primary">
			</form>&nbsp;			
			{{c.first}} {{c.middle}} {{c.last}}
		</div>
		<div class="col-sm-3">
			<a href="mailto:{{c.email}}">{{c.email}}</a>
		</div>
		{% endfor %}
	{% endif %}
</div>

<div class="row top-buffer">
	<div class="col-sm-3"><b>Reseller:</b></div>
	<div class="col-sm-3"><b>Status:</b></div>
	<div class="col-sm-3"><b>Commission:</b></div>
</div>

<div class="row top-buffer">
	{% if reseller_data != "" %}
		{% for r in reseller_data %}
			<div class="col-sm-3">
			<form action="{{path('assignreseller')}}" method="get" style="display:inline">
			<input type="hidden" name="reservationID" value="{{reservationID}}">
			<input type="submit" value="Change" class="btn btn-primary">
			</form>
			&nbsp;&nbsp;{{r.company}}
			</div>
			<div class="col-sm-3">
				{{r.status}}
			</div>
			<div class="col-sm-3">
				{{r.commission}} %
			</div>
		{% endfor %}	
	{% else %}
	<div class="col-sm-9">
		<form action="{{path('assignreseller')}}" method="get" style="display:inline">
		<input type="hidden" name="reservationID" value="{{reservationID}}">
		<input type="submit" value="Assign Reseller" class="btn btn-primary">
		</form>
	</div>
	{% endif %}
</div>

<div class="row top-buffer">
	<div class="col-sm-3"><b>Reseller Agent</b></div>
	<div class="col-sm-3"><b>Email</b></div>
	<div class="col-sm-3"><b>Status / Waiver</b></div>
</div>

<div class="row top-buffer">
	{% if reseller_data != "" %}
		{% if reselleragent_data != "" %}
			{% for a in reselleragent_data %}
				<div class="col-sm-3">

					<form action="{{path('assignagent')}}" method="get" style="display:inline">
					<input type="hidden" name="reservationID" value="{{reservationID}}">
					<input type="submit" value="Change" class="btn btn-primary">
					</form>

					&nbsp;&nbsp;{{a.name}}
				</div>
				<div class="col-sm-3">
					<a href="mailto:{{email}}">{{a.email}}</a>
				</div>
				<div class="col-sm-3">
					{{a.status}} / 
					{% if a.resellerID == "19" %}
						N/A
					{% else %}
						{% if a.waiver == "No" %}
							<font color="red">{{a.waiver}}</font>
						{% else %}
							<font color="green">{{a.waiver}}</font>
						{% endif %}
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			<div class="col-sm-9">

				<form action="{{path('assignagent')}}" method="get" style="display:inline">
				<input type="hidden" name="reservationID" value="{{reservationID}}">
				<input type="submit" value="Assign Agent" class="btn btn-primary">
				</form>

			</div>
		{% endif %}
	{% else %}
		<div class="col-sm-8">
			<div class="alert alert-info">You must select a reseller before selecting an agent.</div>
		</div>
	{% endif %}
</div>

<form name="myform">
<input type="hidden" name="reservationID" value="{{reservationID}}">

<div class="row top-buffer">
	<div class="col-sm-3"><b>Reservation Type</b></div>
</div>
<div class="row top-buffer">
	<div class="col-sm-3">
		<select name="reservationType" class="form-control" onchange="updateReservationType(this.form)">
			<option value="{{reservationType}}">{{reservationType}} (Default)</option>
			<option>Individuals</option>
			<option>Groups</option>
		</select>
	</div>
</div>
</form>

<script>
function updateReservationType(myform) {
	$.get('{{path('updatereservationtype')}}',
	$(myform).serialize(),
	function(php_msg) {
		$("#ajax_results").html(php_msg);
	});
}

function search_pax(myform) {
	$.get('{{path('searchcontact')}}',
	$(myform).serialize(),
	function(php_msg) {
	$("#ajax_results").html(php_msg);
	});
}


</script>

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}