{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8">
    {% include('reservation_tabs.html.twig') %}
  </div>
</div>

{% if details.status == "Cancelled" %}
{% include('templates/cancel.html.twig') %}
{% endif %}

<div class="row top-buffer">
	<div class="col-sm-8">
		<h3>Notes 
			<form action="{{path('newreservationnote')}}" method="post" style="display:inline">
			<input type="hidden" name="reservationID" value="{{reservationID}}">
			<input type="submit" value="Add Note" class="btn btn-success">
			</form>
		</h3>
	</div>
</div>

{% for n in notes %}
<div class="row top-buffer">
	<div class="col-sm-1">{{n.date}}</div>
	<div class="col-sm-3">{{n.note}}</div>
	<div class="col-sm-1">
		<form action="{{path('editreservationnote')}}" method="post" style="display:inline">
		<input type="hidden" name="reservationID" value="{{reservationID}}">
		<input type="hidden" name="noteID" value="{{n.noteID}}">
		<input type="submit" value="Edit" class="btn btn-primary">
		</form>
	</div>
</div>
<div class="row"><div class="col-sm-5"><hr></div></div>

{% endfor %}

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}