{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		{% include('reservation_tabs.html.twig') %}
	</div>
</div>

{% if details.status == "Cancelled" %}
{% include('templates/cancel.html.twig') %}
{% endif %}

<div class="row top-buffer">
	<div class="col-sm-8 table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th><b>Guest</b></th>
					<th><b>GIS</b></th>
					<th><b>Tent</b></th>
					<th><b>Bed</b></th>
					<th><b>PAX Type</b></th>
					<th><b>Status</b></th>
					<th><b>Room Type</b></th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for d in data %}
			<tr>
				<td>
					{% if d.contactID == "" %}
						<font color=red>Guest Not Assigned</font>
					{% else %}
						{{d.first}} {{d.middle}} {{d.last}}
					{% endif %}
				</td>
				<td>
					<table width="100%">
						<tr>
							<td width="50%">
								<form action="{{path('newgis')}}" method="post">
								<input type="hidden" name="reservationID" value="{{reservationID}}">
								<input type="hidden" name="inventoryID" value="{{d.inventoryID}}">
								<input type="hidden" name="guest_contactID" value="{{d.contactID}}">
								<button type="submit" class="btn btn-success">
									<i class="glyphicon glyphicon-share"></i>
								</button>
								</form>
							</td>
							<td width="50%">
								<button type="button" class="btn btn-primary"
								onclick="window.open('{{gisurl}}/{{reservationID}}/{{d.contactID}}/{{d.inventoryID}}/{{d.gisPW}}')"
								{% if d.gisPW == "" %}disabled{% endif %}
								>
									<i class="glyphicon glyphicon-eye-open"></i>
								</button>
							</td>
						</tr>
					</table>
				</td>				
				<td>{{d.description|capitalize}}</td>
				<td>{{d.bed|capitalize}}</td>
				<td>{{d.class|capitalize}}</td>
				<td>{{d.status|capitalize}}</td>
				<td>{{d.type|capitalize}}</td>

				<td>
					{% if d.contactID == "" %}
						<input type="button" value="Assign Guest" class="btn btn-primary"
						onclick="document.location.href='{{path('assigncontact')}}/{{reservationID}}/{{d.bed}}/{{d.roomID}}'">
					{% else %}
						<input type="button" value="Change Guest" class="btn btn-warning"
						onclick="document.location.href='{{path('assigncontact')}}/{{reservationID}}/{{d.bed}}/{{d.roomID}}'">&nbsp;
						<form action="{{path('deletepaxtores')}}" method="post" style="display: inline">
						<input type="hidden" name="reservationID" value="{{reservationID}}">
						<input type="hidden" name="roomID" value="{{d.roomID}}">
						<input type="hidden" name="bunk" value="{{d.bed}}">
						<input type="submit" value="Delete Guest" class="btn btn-danger"
						onclick="return confirm('You are about to remove {{d.first}} {{d.middle}} {{d.last}} from this reservation. Click OK to continue.')">
						</form>
					{% endif %}
				</td>				
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}
