{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<ul class="nav nav-tabs">
  <li><a href="{{path('viewreservation')}}/{{reservationID}}">Details</a></li>
  <li><a href="{{path('viewreservationguest')}}/{{reservationID}}">Guests</a></li>
  <li><a href="{{path('viewreservationdollars')}}/{{reservationID}}">Dollars</a></li>
  <li class="active"><a href="{{path('viewreservationnotes')}}/{{reservationID}}">Notes</a></li>
  <li><a href="{{path('viewreservationcancel')}}/{{reservationID}}">Cancel</a></li>
</ul>


{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}