{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		{% include('reservation_tabs.html.twig') %}
	</div>
</div>

{% if details.status == "Cancelled" %}
{% include('templates/cancel.html.twig') %}
{% endif %}

<div class="row top-buffer">
	<div class="col-sm-8 table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th><b>Guest</b></th>
					<th><b>GIS</b></th>
					<th><b>Tent</b></th>
					<th><b>Bed</b></th>
					<th><b>PAX Type</b></th>
					<th><b>Status</b></th>
					<th><b>Room Type</b></th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{% for d in data %}
			<tr>
				<td>
					{% if d.contactID == "" %}
						<font color=red>Guest Not Assigned</font>
					{% else %}
						<a href="{{path('editcontacts', {'contactID': d.contactID })}}" target="_blank">{{d.first}} {{d.middle}} {{d.last}}</a>
					{% endif %}
				</td>
				<td>
					<table width="100%">
						<tr>
							<td width="50%">
								<form action="{{path('newgis')}}" method="post">
								<input type="hidden" name="reservationID" value="{{reservationID}}">
								<input type="hidden" name="inventoryID" value="{{d.inventoryID}}">
								<input type="hidden" name="guest_contactID" value="{{d.contactID}}">
								<button type="submit" class="btn btn-success">
									<i class="glyphicon glyphicon-share"></i>
								</button>
								</form>
							</td>
							<td width="50%">
								<button type="button" class="btn btn-primary"
								onclick="window.open('{{gisurl}}/{{reservationID}}/{{d.contactID}}/{{d.inventoryID}}/{{d.gisPW}}')"
								{% if d.gisPW == "" %}disabled{% endif %}
								>
									<i class="glyphicon glyphicon-eye-open"></i>
								</button>
							</td>
						</tr>
					</table>
				</td>				
				<td>
					{% if d.contactID != "" %}
					<a href="{{path('gishome', {'reservationID': reservationID, 'bunk': d.bed, 'roomID': d.roomID, 'inventoryID': d.inventoryID, 'contactID':d.contactID})}}">{{d.description|capitalize}}</a></td>
					{% else %}
					{{d.description|capitalize}}
					{% endif %}
				<td>{{d.bed|capitalize}}</td>
				<td>{{d.class|capitalize}}</td>
				<td>{{d.status|capitalize}}</td>
				<td>{{d.type|capitalize}}</td>

				<td>
					{% if d.contactID == "" %}
						<input type="button" value="Assign Guest" class="btn btn-primary"
						onclick="document.location.href='{{path('assigncontact')}}/{{reservationID}}/{{d.bed}}/{{d.roomID}}'">
					{% else %}
						<input type="button" value="Change Guest" class="btn btn-warning"
						onclick="document.location.href='{{path('assigncontact')}}/{{reservationID}}/{{d.bed}}/{{d.roomID}}'">&nbsp;
						<form action="{{path('deletepaxtores')}}" method="post" style="display: inline">
						<input type="hidden" name="reservationID" value="{{reservationID}}">
						<input type="hidden" name="roomID" value="{{d.roomID}}">
						<input type="hidden" name="bunk" value="{{d.bed}}">
						<input type="submit" value="Delete Guest" class="btn btn-danger"
						onclick="return confirm('You are about to remove {{d.first}} {{d.middle}} {{d.last}} from this reservation. Click OK to continue.')">
						</form>
					{% endif %}
				</td>	
				<td>
				<button type="button" class="btn btn-danger" 
				onclick="if(confirm('You are about to remove this space from the reservation. This will make the space available to others. Click OK to continue.')) { document.location.href='{{path('removetent', {'reservationID': reservationID, 'bunk': d.bed, 'roomID': d.roomID, 'inventoryID': d.inventoryID, 'contactID':d.contactID})}}'};">
  					<i class="fa fa-trash-o fa-lg"></i> Remove
  				</button>
  				</td>							
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td colspan="8">
					<table width="100%">
						<tr>
							<td>
								Info:&nbsp;
								{% if d.gis_guest_info == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_guest_info == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_guest_info == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
							<td>
								Waiver:&nbsp;
								{% if d.gis_waiver == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_waiver == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_waiver == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
							<td>
								Policy:&nbsp;
								{% if d.gis_policy == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_policy == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_policy == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
							<td>
								Emergency:&nbsp;
								{% if d.gis_emergency_contact == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_emergency_contact == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_emergency_contact == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
							<td>
								Requests:&nbsp;
								{% if d.gis_requests == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_requests == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_requests == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
							<td>
								Insurance:&nbsp;
								{% if d.gis_trip_insurance == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_trip_insurance == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_trip_insurance == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
							<td>
								Travel:&nbsp;
								{% if d.gis_travel_info == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_travel_info == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_travel_info == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>								
							</td>
							<td>
								Confirmation:&nbsp;
								{% if d.gis_confirmation == "pending" %}
									<font color="#CC2B2F"> <!-- red -->
								{% elseif d.gis_confirmation == "complete" %}
									<font color="#EF9633"> <!-- yellow -->
								{% elseif d.gis_confirmation == "verified" %}
									<font color="#3E9E4B"> <!-- green -->
								{% else %}
									<font color="#CC2B2F"> <!-- red -->
								{% endif %}
								<i class="fa fa-circle fa-2x" aria-hidden="true"></i>
								</font>
							</td>
						</tr>
					</table>
				</td>
			</tr>

			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<form action="{{path('addtoreservation')}}" method="post">
		<input type="hidden" name="reservationID" value="{{reservationID}}">
		<input type="submit" value="Add Additional Guest" class="btn btn-success btn-lg">
		</form>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<h3>GIS Link Log:</h3>
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Agent</th>
				<th>Guest</th>
				<th>Date</th>
				<th>Time</th>
			</tr>
			</thead>
			<tbody>
			{% for g in gislog %}
			<tr>
				<td>{{g.first_name}} {{g.last_name}}</td>
				<td>{{g.first}} {{g.middle}} {{g.last}}</td>
				<td>{{g.date}}</td>
				<td>{{g.time}}</td>
			</tr>
			{% endfor %}
			{% if gislog == "" %}
				<tr><td colspan="4">
					<font color="blue">There are no records of the GIS link being sent.</font>
				</td></tr>
			{% endif %}
			</tbody>
		</table>
{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}
