{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8">
    {% include('reservation_tabs.html.twig') %}
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8"><h3>Dollars</h3></div>
</div>

{% for d in dollars %}
<div class="row top-buffer">
  <div class="col-sm-3"><b>Nightly Rate:</b></div>
  <div class="col-sm-3">$ {{d.nightly_rate}} per guest</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Nights:</b></div>
  <div class="col-sm-3">{{d.nights}}</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Adults:</b></div>
  <div class="col-sm-3">{{d.pax}}</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Children:</b></div>
  <div class="col-sm-3">{{d.children}}</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Total Tent Rate:</b></div>
  <div class="col-sm-3">$ {{d.total|number_format(2, '.', ',')}}</div>
</div>
{% endfor %}

<div class="row top-buffer">
  <div class="col-sm-8"><h3>Transfers</h3></div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Transfer Amount:</b></div>
  <div class="col-sm-3">$ {{transfer_amount|number_format(2, '.', ',')}} per guest</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Total Transfer Amount:</b></div>
  <div class="col-sm-3">$ {{transfer_total|number_format(2, '.', ',')}}</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8"><h3>Payments 
    <form action="{{path('reservationpayment')}}" method="post" style="display:inline">
    <input type="hidden" name="reservationID" value="{{reservationID}}">
    <input type="submit" value="Add Payment" class="btn btn-primary">
    </form>
  </h3></div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8 table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><b>Date</b></th>
          <th><b>Type</b></th>
          <th><b>Check/Transaction #</b></th>
          <th><b>Amount</b></th>
          <th><b>Description</b></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% if payment_history == "" %}
          <tr><td colspan="6"><font color="blue">There are no payments recorded.</font></td></tr>
        {% endif %}
        {% for p in payment_history %}
        <tr>
          <td>{{p.payment_date}}</td>
          <td>{{p.type}}</td>
          <td>
            {% if p.type == "Wire" %}
              N/A
            {% elseif p.type == "Check" %}
              {{p.checkNumber}}
            {% elseif p.type == "Credit" %}
              {{p.transactionID}}
            {% endif %}
          </td>
          <td>
            $ {{p.amount|number_format(2, '.', ',')}}
          </td>
          <td>
            {% if p.type == "Wire" %}
              {{p.wire_description}}
            {% elseif p.type == "Check" %}
              {{p.check_description}}
            {% elseif p.type == "Credit" %}
              {{p.credit_description}}
            {% endif %}
          </td>
          <td>
            <form action="{{path('editreservationpayment')}}" method="post" style="display:inline">
            <input type="hidden" name="reservationID" value="{{reservationID}}">
            <input type="hidden" name="paymentID" value="{{p.paymentID}}">
            <input type="submit" value="Edit" class="btn btn-primary">
            </form>
            &nbsp;
            <form action="{{path('deletereservationpayment')}}" method="post" style="display:inline" 
            onsubmit="return confirm('WARNING: You are about to delete a payment. Click OK to continue.')">
            <input type="hidden" name="reservationID" value="{{reservationID}}">
            <input type="hidden" name="paymentID" value="{{p.paymentID}}">            
            <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Total Payments:</b></div>
  <div class="col-sm-3">$ {{payment_total|number_format(2, '.', ',')}}</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8">
    <h3>Discounts
    <form action="{{path('reservationdiscount')}}" method="post" style="display:inline">
    <input type="hidden" name="reservationID" value="{{reservationID}}">
    <input type="submit" value="Add Discount" class="btn btn-primary">
    </form>
    </h3>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8 table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><b>Date</b></th>
          <th><b>Description</b></th>
          <th><b>Amount</b></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {% if discount_history == "" %}
          <tr><td colspan="4"><font color="blue">There are no discounts recorded.</font></td></tr>
        {% endif %}
        {% for d in discount_history %}
        <tr>
          <td>{{d.date}}</td>
          <td>{{d.details}}</td>
          <td>$ {{d.amount|number_format(2, '.', ',')}}</td>
          <td>
            <form action="{{path('editreservationdiscount')}}" method="post" style="display:inline">
            <input type="hidden" name="reservationID" value="{{reservationID}}">
            <input type="hidden" name="discounttID" value="{{d.discountID}}">
            <input type="submit" value="Edit" class="btn btn-primary">
            </form>
            &nbsp;
            <form action="#" method="post" style="display:inline" 
            onsubmit="return confirm('WARNING: You are about to delete a discount. Click OK to continue.')">
            <input type="hidden" name="reservationID" value="{{reservationID}}">
            <input type="hidden" name="discountID" value="{{d.discountID}}">            
            <input type="submit" value="Delete" class="btn btn-danger">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-sm-3"><b>Total Discounts:</b></div>
  <div class="col-sm-3">$ {{discount_total|number_format(2, '.', ',')}}</div>
</div>


{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}