{# app/Resources/views/Emails/registration.html.twig #}
<h3>Forgot password for {{site_name}}</h3>

Hi {{ name }}! You requested your password to be reset for {{site_name}}.

{# example, assuming you have a route named "login" #}
To login please click on the link below:<br><br>
URL: {{site_url}}<br>
Username: {{ username }}<br>
Password: {{ password }}<br>
<br>
Please store the password in a safe location as the system does not know your plain text password.
<br><br>
Thanks you!<br>
Aggressor Fleet

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}
