{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Assign Contact : Conf # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<ul class="nav nav-tabs">
  <li><a href="{{path('viewreservation')}}/{{reservationID}}">Details</a></li>
  <li class="active"><a href="{{path('viewreservationguest')}}/{{reservationID}}">Guests</a></li>
  <li><a href="{{path('viewreservationdollars')}}/{{reservationID}}">Dollars</a></li>
  <li><a href="{{path('viewreservationnotes')}}/{{reservationID}}">Notes</a></li>
  <li><a href="{{path('viewreservationcancel')}}/{{reservationID}}">Cancel</a></li>
</ul>

<div class="row top-buffer">
	<div class="col-sm-8">
		<h3>Search Contacts</h3>
	</div>
</div>

<form name="myform">
<input type="hidden" name="reservationID" value="{{reservationID}}">
<input type="hidden" name="bunk" value="{{bunk}}">
<input type="hidden" name="roomID" value="{{roomID}}">

<div class="row top-buffer">
	<div class="col-sm-2">
		<input type="text" name="first" placeholder="First Name" class="form-control"
		onkeypress="if(event.keyCode==13) { search_pax(this.form); return false;}">
	</div>
	<div class="col-sm-2">
		<input type="text" name="middle" placeholder="Middle Name" class="form-control"
		onkeypress="if(event.keyCode==13) { search_pax(this.form); return false;}">
	</div>
	<div class="col-sm-2">
		<input type="text" name="last" placeholder="Last Name" class="form-control"
		onkeypress="if(event.keyCode==13) { search_pax(this.form); return false;}">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">
		<input type="text" name="dob" placeholder="DOB: (YYYY-MM-DD)" class="form-control"
		onkeypress="if(event.keyCode==13) { search_pax(this.form); return false;}">
	</div>
	<div class="col-sm-2">
		<input type="text" name="zip" placeholder="Zip Code" class="form-control"
		onkeypress="if(event.keyCode==13) { search_pax(this.form); return false;}">
	</div>
	<div class="col-sm-2">
		<input type="text" name="email" placeholder="Email" class="form-control"
		onkeypress="if(event.keyCode==13) { search_pax(this.form); return false;}">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<input type="button" value="Search Contacts" class="btn btn-success" 
		onclick="search_pax(this.form)">&nbsp;
		<input type="button" value="Add Contact" class="btn btn-primary">&nbsp;
	</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-8">
		<input type="button" value="Cancel" class="btn btn-warning"
		onclick="document.location.href='{{path('viewreservationguest')}}/{{reservationID}}'">
	</div>
</div>
</form>

<div id="ajax_results"></div>

<script>
function search_pax(myform) {
	$.get('{{path('searchcontact')}}',
	$(myform).serialize(),
	function(php_msg) {
	$("#ajax_results").html(php_msg);
	});
}

</script>

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}