{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-8">
		<h2>New Contact</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<form action="{{path('savecontact')}}" method="post">
<input type="hidden" name="route" value="{{route}}">
<input type="hidden" name="reservationID" value="{{reservationID}}">

<div class="row top-buffer">
	<div class="col-sm-2">First Name:</div>
	<div class="col-sm-2">
		<input type="text" name="first" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Middle Name:</div>
	<div class="col-sm-2">
		<input type="text" name="middle" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Last Name:</div>
	<div class="col-sm-2">
		<input type="text" name="last" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Address:</div>
	<div class="col-sm-2">
		<input type="text" name="address1" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Unit/Appt:</div>
	<div class="col-sm-2">
		<input type="text" name="address2" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">City:</div>
	<div class="col-sm-2">
		<input type="text" name="city" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">State: (US Only)</div>
	<div class="col-sm-2">
		<select name="state" class="form-control">
			<option selected value="">Select</option>
			{% for s in state %}
				<option>{{s}}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Province: (Non US)</div>
	<div class="col-sm-2">
		<input type="text" name="province" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Country:</div>
	<div class="col-sm-2">
		<select name="countryID" class="form-control">
			{% for c in country %}
				<option value="{{c.countryID}}">{{c.country}}</option>
			{% endfor %}
		</select>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Zip:</div>
	<div class="col-sm-2">
		<input type="text" name="zip" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Email:</div>
	<div class="col-sm-2">
		<input type="text" name="email" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">Birth Date:</div>
	<div class="col-sm-2">
		<input type="text" name="date_of_birth" class="form-control" id="dob">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-4">
		<div class="alert alert-info">Phone Types</div>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">
		<select name="phone1_type" class="form-control">
			<option value="Home">Home Phone</option>
			<option value="Work">Work Phone</option>
			<option value="Mobile">Mobile Phone</option>
			<option value="Fax">Fax Phone</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="text" name="phone1" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">
		<select name="phone2_type" class="form-control">
			<option value="Home">Home Phone</option>
			<option value="Work">Work Phone</option>
			<option value="Mobile">Mobile Phone</option>
			<option value="Fax">Fax Phone</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="text" name="phone2" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">
		<select name="phone3_type" class="form-control">
			<option value="Home">Home Phone</option>
			<option value="Work">Work Phone</option>
			<option value="Mobile">Mobile Phone</option>
			<option value="Fax">Fax Phone</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="text" name="phone3" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-2">
		<select name="phone4_type" class="form-control">
			<option value="Home">Home Phone</option>
			<option value="Work">Work Phone</option>
			<option value="Mobile">Mobile Phone</option>
			<option value="Fax">Fax Phone</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="text" name="phone4" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-4">
		<input type="submit" value="Save" class="btn btn-success">&nbsp;
		<input type="button" value="Cancel" class="btn btn-warning">
	</div>
</div>

</form>


{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}