{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>New Users</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<form action="{{path('saveuser')}}" method="post">

<div class="row top-buffer">
	<div class="col-sm-3">First Name:</div>
	<div class="col-sm-3">
		<input type="text" name="first_name" value="{{first_name}}" required class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Last Name:</div>
	<div class="col-sm-3">
		<input type="text" name="last_name" value="{{last_name}}" required class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Email:</div>
	<div class="col-sm-3">
		<input type="text" name="email" value="{{email}}" class="form-control">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Username:</div>
	<div class="col-sm-3">
		<input type="text" name="username" value="{{username}}" class="form-control" required>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Role:</div>
	<div class="col-sm-3">
		<select name="role" required class="form-control">
			{% if role == "" %}
				<option value="">Select</option>
			{% else %}
				<option selected value="{{role}}">{{role}} (Default)</option>
			{% endif %}
			<optgroup label="Staff Access">
				<option>agent</option>
				<option>accounting</option>
				<option>admin</option>
			</optgroup>
			<optgroup label="Remote Access">
				<option>crew</option>
				<option>owner</option>
			</optgroup>
		</select>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Status:</div>
	<div class="col-sm-3">
		<select name="status" required class="form-control">
			{% if status != "" %}
				<option value="{{status}}">{{status}} (Default)</option>
			{% endif %}
			<option>Active</option>
			<option>Inactive</option>
		</select>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<input type="submit" value="Save" class="btn btn-success">&nbsp;
		<input type="button" value="Cancel" class="btn btn-warning"
		onclick="document.location.href='{{path('users')}}'">
	</div>
</div>

</form>



{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}