{% extends 'base.html.twig' %}

	{% block header %}
		{% if format == "web" %}
	    	{% include('header.html.twig') %}
	    {% else %}
	    	{% include('header_email.html.twig') %}
	    	<div class="container">
	    {% endif %}
	{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Check-In Report : {{date}}</h2>
	</div>
</div>

<style>
.red { background-color: #fc0202; }
</style>

<form action="{{path('checkinreport')}}" method="post">
<div class="row top-buffer">
	<div class="col-sm-2">
		<input type="text" name="date" class="form-control" id="start_date" placeholder="Select Date">
	</div>
	<div class="col-sm-2">
		<input type="submit" value="View Report" class="btn btn-success">&nbsp;
		<input type="button" value="Print" onclick="window.open('{{path('checkinreport', {'date2': date2,'format':'print' })}}')" class="btn btn-primary">
	</div>
</div>
</form>

<br>
{% if data == "" %}
<div class="row top-buffer">
	<div class="col-sm-8">
		<div class="alert alert-warning">There are no guests checking in today.</div>
	</div>
</div>
{% endif %}

{% for d in data %}
{% set ignore = "no" %}

	{% for key,value in singlesupplement %}
		{% if value == d.nightly_rate %}
			{#<b>Single Supplement</b>#}
			{% set ignore = "yes" %}
		{% endif %}
	{% endfor %}

<div class="row">
	<div class="col-sm-12 well">
		<div class="row top-buffer">
			<div class="col-sm-4"><b>{{d.description}}-{{d.bed}}</b></div>
			<div class="col-sm-2">
				{% if d.first == "" and d.last == "" %}
					{% if ignore == "yes" %}
						<b>Single Supplement</b>
					{% else %}
						<font color="red">Guest not assigned</font>
					{% endif %}
				{% else %}				
					{{d.first}} {{d.middle}} {{d.last}}
				{% endif %}
			</div>
			<div class="col-sm-2"><b>conf #: {{d.reservationID}}</b></div>
			<div class="col-sm-2"><b>nights: {{d.nights}}</b></div>
		</div>		
		<div class="row top-buffer">
			<div class="col-sm-4"><b>PASSPORT|NATIONALITY</b></div>
			<div class="col-sm-2">
				{% if d.passport_number == "" %}
					{% if ignore == "yes" %}
						N/A
					{% else %}
						<font color="red">Passport is missing!</font>
					{% endif %}
				{% else %}
					{{d.passport_number}}
				{% endif %}
				</div>
			<div class="col-sm-2">
				{% if d.passport_nationality == "" %}
					{% if ignore == "yes" %}
						N/A
					{% else %}
						<font color="red">Country is missing!</font>
					{% endif %}
				{% else %}
					{{d.passport_nationality}}
				{% endif %}
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-sm-4"><b>GENDER|AGE|DOB</b></div>
			<div class="col-sm-2">{{d.sex}}</div>
			<div class="col-sm-2">{{d.age}}</div>
			<div class="col-sm-2">{{d.dob}}</div>
		</div>
		<div class="row top-buffer">
			<div class="col-sm-4"><b>GIS</b></div>
			<div class="col-sm-6">
				{% if d.gis_confirmation == "complete" or d.gis_confirmation == "verified" %}
					<font color="green">Yes</font>
				{% else %}
					{% if ignore == "yes" %}
						N/A
					{% else %}
						<font color="red">No</font>
					{% endif %}
				{% endif %}
			</div>
		</div>

		{% if d.special_passenger_details != "" %}
		<div class="row top-buffer">
			<div class="col-sm-4 red"><b>RESTRICTION</b></div>
			<div class="col-sm-6 red">{{d.special_passenger_details}}</div>
		</div>
		{% else %}
		<div class="row top-buffer">
			<div class="col-sm-4"><b>RESTRICTION</b></div>
			<div class="col-sm-6">None</div>
		</div>
		{% endif %}

	</div>
</div>

{% endfor %}




{% endblock %}
{% block footer %}
	{% if format == "web" %}
    	{% include('footer.html.twig') %}
    {% else %}
    	{% include('footer_email.html.twig') %}
    	</div>
    {% endif %}
{% endblock %}