{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Assign Reseller : Conf # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="{{path('viewreservation')}}/{{reservationID}}">Details</a></li>
  <li><a href="{{path('viewreservationguest')}}/{{reservationID}}">Guests</a></li>
  <li><a href="{{path('viewreservationdollars')}}/{{reservationID}}">Dollars</a></li>
  <li><a href="{{path('viewreservationnotes')}}/{{reservationID}}">Notes</a></li>
  <li><a href="{{path('viewreservationcancel')}}/{{reservationID}}">Cancel</a></li>
</ul>

<div class="row top-buffer">
	<div class="col-sm-8">
		<h3>Search Resellers</h3>
	</div>
</div>

<form name="myform">
<input type="hidden" name="reservationID" value="{{reservationID}}">


<div class="row top-buffer">
	<div class="col-sm-2">
		<input type="text" name="company" placeholder="Company Name" class="form-control"
		onkeypress="if(event.keyCode==13) { search_reseller(this.form); return false;}">
	</div>
	<div class="col-sm-2">
		<input type="text" name="resellerID" placeholder="Reseller ID" class="form-control"
		onkeypress="if(event.keyCode==13) { search_reseller(this.form); return false;}">
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-8">
		<input type="button" value="Search Resellers" class="btn btn-success" 
		onclick="search_reseller(this.form)">&nbsp;
		<input type="button" value="Add Reseller" class="btn btn-primary">&nbsp;
	</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-8">
		<input type="button" value="Cancel" class="btn btn-warning"
		onclick="document.location.href='{{path('viewreservation')}}/{{reservationID}}'">
	</div>
</div>
</form>

<div id="ajax_results"></div>

<script>
function search_reseller(myform) {
	$.get('{{path('searchreseller')}}',
	$(myform).serialize(),
	function(php_msg) {
	$("#ajax_results").html(php_msg);
	});
}

</script>

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}