<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{reservationID}}</title>
<style type="text/css">
body {
  margin-top: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
}

table, th, td {
  border: 1px solid #D2E4F0;
  font-size: 11px;
}
table {
  border-collapse: collapse;
}
.Sub-Title {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
}
.default-font {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
}
a:link {
  color: #B80614;
  text-decoration: none;
}
a:visited {
  color: #B80614;
  text-decoration: none;
}
a:hover {
  color: #B80614;
  text-decoration: underline;
}
a:active {
  color: #B80614;
  text-decoration: none;
}
body,td,th {
  font-size: 12px;
}
</style>
</head>
<body>
{# attach image #}

{% if print == "Yes" %}
<script>
window.print();
</script>
{% endif %}

{% if format == "html" %}
  <img src="{{asset('Logo-ResSystem-horizontal.jpg')}}" width="510" height="70" alt=""/>
{% elseif format == "email" %}
  <img src="{{site_url}}/Logo-ResSystem-horizontal.jpg" width="510" height="70" alt=""/>
{% endif %}
<table width="750" border="0" cellspacing="0" cellpadding="6">
  <tr>
    <td width="177" rowspan="3"> 
      <strong><b>Mail Payments to:</b></strong><br />
      WayneWorks Marine, LLC<br />
      209 Hudson Trace<br />
      Augusta, GA 30907<br />
      USA<br>
    </td>
    <td width="258" rowspan="3" align="center">
      <p><strong><b>Contact Information:</b></strong><br /> 
      800-348-2628
      <br /> 
      +1-706-993-2531
      <br /> 
      After hours emergency #<br>
      +1-706-664-0111
      </p>
    </td>
    <td width="277" align="right">
      <strong class="Sub-Title">Confirmation # {{reservationID}}</strong>
    </td>
  </tr>
  <tr>
    <td align="right" valign="top">
      <strong>Invoice Date:</strong> {{date}}
    </td>
  </tr>
  <tr>
    <td align="right">
      <strong>Email:</strong> <a href="mailto:info@aggressorsafarilodge.com?subject=Confirmation {{reservationID}}"><strong>info@aggressorsafarilodge.com</strong></a>
    </td>
  </tr>
</table>

<table width="750" cellpadding="4" cellspacing="0">
  <tr>
    <td bgcolor="#A8D472">
      <span class="Sub-Title">Reservation Information</span>
    </td>
  </tr>
</table>

<table width="750" cellpadding="4" cellspacing="0">
  <tr>
    <td width="288">
      <strong>Lodge:</strong> {{details.lodge_name}}
    </td>
    <td width="444">
      <span class="default-font"><strong>Location:</strong> {{details.lodge_location}}</span>
    </td>
  </tr>
</table>

<table width="750" cellpadding="4" cellspacing="0">
  <tr>
    <td width="196" align="center">
      <b>Reservation Date</b>
    </td>
    <td width="119" align="center">
      <b>Nights</b>
    </td>
    <td width="205" align="center">
      <strong>Check-In</strong>
    </td>
    <td width="196" align="center">
      <b>Check-Out</b>
    </td>
  </tr>
  <tr>
    <td align="center">{{details.date_booked_invoice}}</td>
    <td align="center">{{nights}}</td>
    <td align="center">{{details.checkin_date_invoice}}</td>
    <td align="center">{{details.checkout_date_invoice}}</td>
  </tr>
</table>

<table  width="750" cellpadding="4" cellspacing="0">
  <tr>
    <td colspan="5" bgcolor="#A8D472">
      <span class="Sub-Title">Guest Details </span>
    </td>
  </tr>
</table>

<table  width="750" cellpadding="4" cellspacing="0">
  <tr>
    <td width="205" align="left">
      <b>Name</b>
    </td>
    <td width="123">
      <b>Tent</b>
    </td>
    <td width="90">
      <strong>Tent Rate</strong>
    </td>
    <td width="90">
      <strong>Transfers</strong>
    </td>
    <td align="right" width="90">
      <div align="right"><b>Total </b></div>
    </td>
  </tr>
  {# loop from guest list #}
  {% for g in guests %}
  <tr>
    <td align="left">
      {% if g.contactID == "" %}
        Guest not assigned
      {% else %}
        {{g.first}} {{g.middle}} {{g.last}}
      {% endif %}
    </td>
    <td>
      {{g.description}}-{{g.bed}}
    </td>
    <td>$ {{g.nightly_rate|number_format(2, '.', ',')}}</td>
    <td>$ {{transfer_amount|number_format(2, '.', ',')}}</td>
    <td align="right">
      <div align="right">
        {% set total_guest = g.nightly_rate + transfer_amount %}
        $ {{total_guest|number_format(2, '.', ',')}}
      </div>
    </td>
  </tr>
  {% endfor %}
  {# end loop #}
</table>

<table width="750" border="0" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td colspan="4" bgcolor="#A8D472">
        <span class="Sub-Title">Payment Schedule</span>
      </td>
    </tr>
    

    <tr>
      <td width="207">
        <strong>Deposit:</strong>
      </td>
      <td width="125">
        $ {{deposit_amount|number_format(2, '.', ',')}}
      </td>
      <td width="92" align="right">
        <strong>Due by:</strong>
      </td>
      <td width="292">
        {{payment_policy.deposit1_date}}
      </td>
    </tr>



    <tr>
      <td>
        <strong>Final payment:</strong>
      </td>
      <td>
        $ {{final_amount|number_format(2, '.', ',')}}
      </td>
      <td align="right">
        <strong>Due by:</strong>
      </td>
      <td>
        {{payment_policy.final_date}}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Total of Scheduled Payments:</strong>
      </td>
      <td>
        {% set total_schedule = deposit_amount + final_amount %}
        $ {{total_schedule|number_format(2, '.', ',')}}
      </td>
      <td colspan="2" align="right">&nbsp;</td>
    </tr>
  </tbody>
</table>

<table width="750" border="0" cellspacing="0" cellpadding="4">
  <tbody>
    <tr>
      <td colspan="3" bgcolor="#A8D472">
        <span class="Sub-Title">Payment Summary</span>
      </td>
    </tr>
    <tr>
      <td width="118">
        <strong>Date:</strong>
      </td>
      <td width="479">
        <strong>Comment:</strong>
      </td>
      <td width="127" align="right">
        <strong>Amount:</strong>
      </td>
    </tr>
    {# loop payment history #}

    {% for p in payment_history %}

    <tr>
      <td>{{p.payment_date_invoice}}</td>
      <td>{{p.credit_description}}{{p.check_description}}{{p.wire_description}}</td>
      <td align="right">
        $ {{p.amount|number_format(2, '.', ',')}}
      </td>
    </tr>

    {% endfor %}

    {% if payment_history == "" %}
    <tr><td colspan="3">There is not any payment history currently.</td></tr>
    {% endif %}

    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td align="right">&nbsp;</td>
    </tr>
  </tbody>
</table>

<table width="750" cellpadding="4" cellspacing="0">
  <tr>
    <td colspan="5" bgcolor="#A8D472">
      <span class="Sub-Title">Balance Summary</span>
    </td>
  </tr>
  <tr>
    <td width="187" align="center">
      <b>Total:</b>&nbsp;&nbsp;
    </td>

    <td width="187" align="center">
      <b>Payments:</b>&nbsp;&nbsp;
    </td>
    <td width="187" align="center">
      <b>Discounts:</b>
    </td>
    <td width="187" align="right" valign="bottom">
      <b>Total Net Due:</b>
    </td>
  </tr>
  <tr>
    <td align="center">
      {% set res_total = res_total + comm_amount %} 
      &nbsp; $ {{res_total|number_format(2, '.', ',')}}
    </td>
    <td align="center">
      $ {{payment_total|number_format(2, '.', ',')}}
    </td>
    <td align="center">
      $ {{discount_total|number_format(2, '.', ',')}}
    </td>
    <td align="right" valign="bottom">
      $ {{balance|number_format(2, '.', ',')}}
    </td>
  </tr>
  <tr>
    <td colspan="5" align="right">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5" bgcolor="#A8D472" class="Sub-Title">
      Reseller Information
    </td>
  </tr>
  <tr>
    <td colspan="4">
      Guests will receive a link to complete the GIS (Guest Information System) which is <strong>required</strong> to be completed before check­-in. Credit card payments may be made through the GIS for guests who book direct through the Aggressor Fleet Reservations Office (WayneWorks Marine, LLC). Alternate forms of payment may be in the form of a check drawn on a US bank, mailed to the above address or wire transfer.  Wires <strong>must</strong> include reservation date and confirmation number.  An email with wire notification should be sent to <a href="mailto:accounting@aggressor.com"><strong>accounting@aggressor.com</strong></a>. Please note, transfers are non­-commissionable.
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <span class="content1smaller"><font color="#B80614"><img src="{{site_url}}/CC-Accept.jpg" alt="We Accept Credit Cards" width="170" height="62" hspace="10" align="right"><strong>Wire Transfer Instructions</strong></font><br>
      Regions Bank, 1219 Augusta West Parkway Augusta, Georgia 30909 USA<br>
      Swift # UPNBUS44           ABA # 062005690              Telex # 6737871 UPB MIA <br>
      Bank Account # 0094403821<Br>
      For Credit to: WayneWorks Marine LLC, 209 Hudson Trace, Augusta, Georgia 30907<br>
      <br>
      The week before your client travels, visit <a href="http://www.aggressorsafarilodge.com"><strong>www.aggressorsafarilodge.com</strong></a>  to download a "Know Before You Go" that includes updates. </span>
    </td>
  </tr>
</table>
</body>
</html>