{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8">
    {% include('reservation_tabs.html.twig') %}
  </div>
</div>

<form action="{{path('updatereservationdiscount')}}" method="post">
<input type="hidden" name="reservationID" value="{{reservationID}}">
<input type="hidden" name="discountID" value="{{discountID}}">

<div class="row top-buffer">
  <div class="col-sm-8"><h3>Edit Discount</h3></div>
</div>

{% for e in data %}
<div class="row top-buffer">
	<div class="col-sm-3">Discount Reason:</div>
	<div class="col-sm-3">
		<select name="discount_reason" class="form-control" required>
		{% for d in discount %}
      {% if d.id == e.reasonID %}
        <option selected value="{{d.id}}">{{d.details}}</option>
      {% else %}
  		  <option value="{{d.id}}">{{d.details}}</option>
      {% endif %}
		{% endfor %}
		</select>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Discount Amount:</div>
	<div class="col-sm-3">
		<input type="text" name="discount_amount" value="{{ e.amount }}" class="form-control" required placeholder="0.00" onkeypress="return isNumber(event)">
	</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-6">
    <input type="submit" value="Update Discount" class="btn btn-success">&nbsp;
    <input type="button" value="Cancel" class="btn btn-warning"
    onclick="document.location.href='{{path('viewreservationdollars')}}/{{reservationID}}'">
  </div>
</div>
{% endfor %}
</form>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 46 || charCode > 57)) {
        return false;
    }
    if (charCode == 47) {
      return false;
    }
    return true;
}
</script>

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}