{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Reservation # {{reservationID}}</h2>
		{% include('flash-messages.html.twig') %}
	</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-8">
    {% include('reservation_tabs.html.twig') %}
  </div>
</div>

<form action="{{path('updateoverridecommission')}}" method="post">
<input type="hidden" name="reservationID" value="{{reservationID}}">

<div class="row top-buffer">
  <div class="col-sm-8"><h3>Manual Commission Override</h3></div>
</div>

<div class="row top-buffer">
	<div class="col-sm-3">Commission:</div>
	<div class="col-sm-3">
    <input type="text" name="manual_commission_override" placeholder="Example: 15" 
    onkeypress="return isNumber(event)" value="{{commission}}" class="form-control">
	</div>
</div>

<div class="row top-buffer">
  <div class="col-sm-6">
    <input type="submit" value="Save Commission" class="btn btn-success">&nbsp;
    <input type="button" value="Cancel" class="btn btn-warning"
    onclick="document.location.href='{{path('viewreservationdollars')}}/{{reservationID}}'">  </div>
</div>

</form>

<script>
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 47 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}