{% extends 'base.html.twig' %}

{% block header %}
	{% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Calendar Report : {{date1F}} to {{date2F}}</h2>
	</div>
</div>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>

<form action="{{path('viewcalendar')}}" method="post">
<div class="row top-buffer">
	<div class="col-sm-2">
		<input type="text" name="start_date" id="start_date" class="form-control" placeholder="Start Date">
	</div>
	<div class="col-sm-2">
		<select name="days" class="form-control">
			<option value="30">30 Days</option>
			<option value="90">90 Days</option>
			<option value="180">180 Days</option>
		</select>
	</div>
	<div class="col-sm-2">
		<input type="submit" value="View Calendar" class="btn btn-success">&nbsp;
		<input type="button" value="Reset" class="btn btn-info" onclick="document.location.href='{{path('viewcalendar')}}'">
	</div>
</div>
</form>

<div class="row top-buffer">
	<div class="col-sm-8">

		<table class="table table-striped" id="myTable">
			<thead>
				<tr>
					<th>Date</th>
					<th>Tent</th>
					<th>Bed</th>
					<th>Type</th>
					<th>Nightly Rate</th>
					<th>Status</th>
					<th>Reservation #</th>
				</tr>
			</thead>
			<tbody>
			{% for d in data %}
			<tr>
				<td>{{d.date}}</td>
				<td>{{d.description}}</td>
				<td>{{d.bed}}</td>
				<td>{{d.type}}</td>
				<td>{{d.nightly_rate}}</td>
				<td>{{d.status}}</td>
				<td>
					{% if d.reservationID != "0" %}
						{{d.reservationID}}
					{% else %}
						None
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>


<!--
<script>
    jQuery(function($) {
        var items = $("#content tbody tr");

        var numItems = items.length;
        var perPage = 50;

        // Only show the first 2 (or first `per_page`) items initially.
        items.slice(perPage).hide();

        // Now setup the pagination using the `#pagination` div.
        $("#pagination").pagination({
            items: numItems,
            itemsOnPage: perPage,
            cssStyle: "dark-theme",

            // This is the actual page changing functionality.
            onPageClick: function(pageNumber) {
                // We need to show and hide `tr`s appropriately.
                var showFrom = perPage * (pageNumber - 1);
                var showTo = showFrom + perPage;

                // We'll first hide everything...
                items.hide()
                     // ... and then only show the appropriate rows.
                     .slice(showFrom, showTo).show();
            }
        });
    });
</script>
-->



{% endblock %}
{% block footer %}
	{% include('footer.html.twig') %}
{% endblock %}