{% extends 'base.html.twig' %}

{% block header %}
	{% include('header.html.twig') %}
{% endblock %}

{% block body %}

<div class="row top-buffer">
	<div class="col-sm-12">
		<h2>Lodge Availability Report</h2>
	</div>
</div>

<div class="row top-buffer">
	<div class="col-sm-1">Key:</div>
	<div class="col-sm-1" style="background-color: #d8edf6">Available</div>
	<div class="col-sm-1" style="background-color: #ef9633">Tentative</div>
	<div class="col-sm-1" style="background-color: #23ce39">Booked</div>

</div>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>

<form action="{{path('viewcalendar')}}" method="post">

</form>

{% for key,value in lodge %}

	<div class="row top-buffer">
		<div class="col-sm-8">
			<h3>{{value}}</h3>
		</div>
	</div>

	<div class="row top-buffer">
		<div class="col-sm-2">
			<table class="table table-striped table-bordered">
				<tr><td>&nbsp;</td></tr>
				<tr><td>&nbsp;</td></tr>
				{% for key2,value2 in data[value] %}
					<tr>
						<td>{{value2.description}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-sm-6 table-responsive">
			<table class="table table-striped">
				<tr>
					{{calendar_head|raw}}
				</tr>
				<tr>
					{{calendar_title|raw}}
				</tr>

				{{data2|raw}}

			</table>
		</div>
	</div>
{% endfor %}






{% endblock %}
{% block footer %}
	{% include('footer.html.twig') %}
{% endblock %}